<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Quickstart</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>
  <div class="md-content" flex md-scroll-y>
    <div layout="column" layout-gt-sm="row" class="inset">
      <div flex-gt-sm="60">
        <div layout="column">
          <md-card>
            <md-card-title>Products Sales</md-card-title>
            <md-card-subtitle>usage stats for our products</md-card-subtitle>
            <md-divider></md-divider>
            <div style="height:300px;">
              <ngx-charts-area-chart-stacked
                [scheme]="colorScheme"
                [results]="multi"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel">
              </ngx-charts-area-chart-stacked>
            </div>
          </md-card>
        </div>
        
        <div layout="row">
          <div flex="33" layout="column">
            <md-card class="md-card-colored" flex>
              <md-card-content class="text-center">
                <div class="md-headline">{{ '2341'| digits }} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
                <md-icon class="icon tc-indigo-700">perm_contact_calendar</md-icon>
                <div layout="column">
                  <div class="md-subhead">Active Users</div>
                  <div class="md-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
                </div>
              </md-card-content>
            </md-card>
          </div>
          <div flex="33" layout="column">
            <md-card class="md-card-colored" flex>
              <md-card-content class="text-center">
                <div class="md-headline">{{ '72452903343' | bytes }} <md-icon class="tc-red-500 text-sm">arrow_downward</md-icon></div>
                <md-icon class="icon tc-light-blue-700">sd_storage</md-icon>
                <div layout="column">
                  <div class="md-subhead">User Disk Usage</div>
                  <div class="md-caption tc-grey-600">updated {{ '2016-07-18 11:02:59' | timeAgo }}</div>
                </div>
              </md-card-content>
            </md-card>
          </div>
          <div flex="33" layout="column">
            <md-card class="md-card-colored" flex>
              <md-card-content class="text-center">
                <div class="md-headline">{{ '324523' | digits}} <md-icon class="tc-green-500 text-sm">arrow_upward</md-icon></div>
                <md-icon class="icon tc-cyan-700">receipt</md-icon>
                <div layout="column">
                  <div class="md-subhead">Pages Viewed</div>
                  <div class="md-caption tc-grey-600">updated {{ '2016-07-13 09:59:59' | timeAgo }}</div>
                </div>
              </md-card-content>
            </md-card>
          </div>
        </div>

        <!-- Custom Component: Expansion Panel -->
        <md-card class="bgc-light-blue-500">
          <md-card-title>Component Added for Demo</md-card-title>
          <md-card-subtitle>Demo Component Added by Nikit Parajuli</md-card-subtitle>
          <md-divider></md-divider>
          <td-expansion-panel label="Nikit Parajuli" (expanded)="expandedEvent()" (collapsed)="collapsedEvent()" class="bgc-orange-500">
              <td-expansion-summary>
              </td-expansion-summary>
                <md-card class="bgc-light-blue-500">
                  <md-card-title>
                    My name is Nikit Parajuli
                  </md-card-title>
                  <md-card-subtitle>Expanded Demo...Check Console for Message</md-card-subtitle>
                </md-card>
                <md-divider></md-divider>
          </td-expansion-panel>
        </md-card>
        <!-- End Custom Component -->

        <!-- Custom Component: Tool Bar -->
        <md-card>
          <md-toolbar class="bgc-light-blue-500">
            <button md-icon-button>
              <md-icon>local_shipping</md-icon>
            </button>
            <span>Quick Ship</span>
            <td-search-box placeholder="Search Destination" [alwaysVisible]="true" flex></td-search-box>
            <td-notification-count color="primary" positionX="before" [notifications]="true">
              <md-icon>person</md-icon>
            </td-notification-count>
            <button md-icon-button [mdMenuTriggerFor]="toolbarMenu1"><md-icon>more_vert</md-icon></button>
            <md-menu #toolbarMenu1="mdMenu">
              <button md-menu-item>
                <md-icon>settings</md-icon>
                <span>Settings</span>
              </button>
              <button md-menu-item>
                <md-icon>exit_to_app</md-icon>
                <span>Sign out</span>
              </button>
            </md-menu>
          </md-toolbar>
        </md-card>    
        <!-- End Custom Component -->

        <!-- Custom Component: Dialogs -->
        <md-card style="padding: 10px;" class="bgc-light-blue-500">
          <button md-raised-button color="warn" (click)="openAlert()">Open Alert</button>
          <button md-raised-button class="bgc-green-A400" (click)="openConfirm()">Confirm Your Trip</button>
          <button md-raised-button class="bgc-purple-A400" (click)="openPrompt()">Enter a Destination</button>
        </md-card>
        <!--  -->
        
        <!-- Custom Component: Loading -->
        <md-card class="bgc-light-blue-500" style="padding: 10px">
          <template tdLoading="customLoadingMask" tdLoadingMode="determinate" tdLoadingType="linear" tdLoadingStrategy="replace" tdLoadingColor="warn">
            <div layout="column" flex>
              <md-input-container flex class="bgc-orange-50" style="padding:5px">
                <input md-input placeholder="Traveller's Name"/>
                <input md-input placeholder="Traveller's Destination"/>
              </md-input-container>
              <md-select placeholder="Gender" class="bgc-orange-50" style="padding:5px">
                <md-option>Male</md-option>
                <md-option>Female</md-option>
              </md-select>
              <md-input-container flex class="bgc-orange-50" style="padding:5px">
                <textarea md-input placeholder="Special Requests" rows="4"></textarea>
              </md-input-container>
            </div>
          </template>
          <div layout="row" style="margin-top: 5px">
            <button md-raised-button color="warn" (click)="toggleCustomLoadingMask()">Toggle Loader</button>
          </div>
        </md-card>
        <!-- End Custom Component -->
        <md-card>
          <md-card-title>Customer Activity</md-card-title>
          <md-card-subtitle>Recent activity from select members</md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list class="will-load item-list">
            <template tdLoading="items.load">
              <template let-item let-last="last" ngFor [ngForOf]="items">
                <a md-list-item layout-align="row" [routerLink]="['../item', item.item_id]">
                  <md-icon md-list-avatar> {{item.icon}} </md-icon>
                  <h3 md-line> {{item.name}} </h3>
                  <p md-line> {{item.description | truncate:50 }} </p>
                  <span flex></span>
                  <span class="md-caption text-right" flex="20"> {{item.created | timeAgo }} </span>
                </a>
                <md-divider *ngIf="!last" md-inset></md-divider>
              </template>
            </template>
          </md-nav-list>
        </md-card>
      </div>
      <div flex-gt-sm="40">
        <md-card>
          <md-card-title>Alerts</md-card-title>
          <md-card-subtitle>Items requiring attention</md-card-subtitle>
          <md-divider></md-divider>
          <md-list class="will-load alert-list">
            <template tdLoading="alerts.load">
              <template let-item let-last="last" ngFor [ngForOf]="alerts">
                <md-list-item layout-align="row">
                  <md-icon md-list-avatar class="bgc-amber-800">{{item.icon}}</md-icon>
                  <h3 md-line> {{item.description}} </h3>
                  <p md-line> {{item.name}} </p>
                </md-list-item>
                <md-divider *ngIf="!last" md-inset></md-divider>
              </template>
            </template>
          </md-list>
          <md-divider></md-divider>
          <md-card-actions>
            <a md-button color="accent" class="text-upper" [routerLink]="['/logs']">
              <span>View More</span>
            </a>
          </md-card-actions>
        </md-card>
        <md-card id="dashboard-favorites-card" class="push-top">
          <md-card-title>Favorites</md-card-title>
          <md-card-subtitle>Your favorite products</md-card-subtitle>
          <md-divider></md-divider>
          <md-nav-list class="will-load favorite-list">
            <template tdLoading="favorites.load">
              <template let-item let-last="last" ngFor [ngForOf]="products">
                <md-list-item layout-align="row" [routerLink]="['/product']">
                  <md-icon md-list-avatar>{{item.icon}}</md-icon>
                  <h3 md-line> {{item.name}} </h3>
                  <p md-line> {{item.description}} </p>
                </md-list-item>
                <md-divider *ngIf="!last" md-inset></md-divider>
              </template>
            </template>
          </md-nav-list>
          <md-divider></md-divider>
          <md-card-actions>
            <a md-button color="accent" class="text-upper" [routerLink]="['/product']">
              <span>View More</span>
            </a>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>
